@import '../../styles/fonts';
@import '../../styles/mixins';
@import '../../styles/variables';

.sec {
    &__title {
        text-align: center;
    }
    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style-type: none;
    }
    li {
        display: flex;
    flex-direction: column;
    padding: 15px;
    width: 115px;
    align-items: flex-start;
    }
    img {
        width: 100px;
    height: 150px;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.4s ease-in-out;
    &:hover {
      transform: scale(1.1); 
      z-index: 1; 
    }  
    }
    p {
    font-weight: 600;
    margin: 0;
  }
}

#icons {
    height: 20px;
    width: 20px;
    box-shadow: none;
}