@import '../../styles/fonts';
@import '../../styles/mixins';
@import '../../styles/variables';


.profile { 
    &__title {
        padding: 15px 24px;
        @include tablet {
            padding: 15px 32px;
        }
        &__name {

        }
    }   
    img {
        width: 100px;
        height: 150px;
        border-radius: 3px;
    }
    li {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    ul {
        display: flex;
        flex-direction: row;
    }
}



