//fonts

//Bold
 @font-face {
  font-family: "Assistant Semi-bold";
  src: url("../assets/fonts/Assistant-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

//Regular
@font-face {
  font-family: "Assistant Regular";
  src: url("../assets/fonts/Assistant-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
