//fonts

Regular
@font-face {
    font-family: 'Titillium Regular';
    src: url() format('truetype');
    font-weight: 400;
    font-style: normal;
}

//Semi-bold
@font-face {
    font-family: 'Titillium Semi-bold';
    src: url() format('truetype');
    font-weight: 600;
    font-style: normal;
} 