//breakpoints

//paddings and margins

//Colors
$P-text: #13182c; //global text color
$P-white: #ffffff;
$silver: #afafaf; // images placeholder
$S-cloud: #bdc5d5; //outlines, dividers, borders, table sorting icon
$B-grey: #f7f8f9; //page, table column and CTA background
$Green: #158463; 


//Fonts
$Regular: 'Source Sans Regular';
$Semi-bold: 'Asistant Semi-bold';
$Bold: 'Source Sans Bold';