@import '../../styles/fonts';
@import '../../styles/mixins';
@import '../../styles/variables';

.search {
    &-bar {
        margin: 0 16px;
        border-radius: 20px;
        border: 1px solid black;
        @include tablet {
            margin: 0 220px;
        }
        @include desktop {
            margin: 0 480px;
        }

        &__input {
            height: 28px;
            border: 1px solid transparent;
        }
        .btn {
            border: 1px solid transparent;

        }
    }
    
}