@import '../../styles/fonts';
@import '../../styles/mixins';
@import '../../styles/variables';

.search {
    &-bar {
        margin: 0 16px;
        border-radius: 20px;
        border: 1px solid black;

        &__input {
            height: 28px;
            border: 1px solid transparent;
        }
        .btn {
            border: 1px solid transparent;

        }
    }
    
}