@import '../../styles/fonts';
@import '../../styles/mixins';
@import '../../styles/variables';

.header {
    @include tablet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }    
    &__logo {
        padding: 36px 70px 30px 70px;
        @include tablet {
            padding: 32px;
        }
        &__img {
            width: 150px;
            border-radius: 10px;
        }
    }
    &__container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        @include tablet {
            display: flex;
            flex-direction: row;
            align-items: center;
        }   
    }
}