@import '../../styles/fonts';
@import '../../styles/mixins';
@import '../../styles/variables';

.header {
    &__logo {
        padding: 32px;
        &__img {
            width: 150px;
            border-radius: 10px;
        }
    }
}